{
  "openapi": "3.0.3",
  "info": {
    "title": "ChatModel API",
    "description": "Enterprise Conversational Intelligence & 24/7 Multi-Tenant AI Assistants API",
    "version": "1.0.0",
    "contact": {
      "name": "ChatModel Support",
      "url": "https://chatmodel.in"
    }
  },
  "servers": [
    {
      "url": "https://chatmodel.in",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/chat.php": {
      "post": {
        "summary": "Send a chat message to an AI assistant",
        "description": "Routes user message to tenant's automation webhook and returns AI response or SSE stream",
        "operationId": "sendChatMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "User's chat input prompt",
                    "example": "What services do you offer?"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Unique session identifier",
                    "example": "sess_abc123"
                  },
                  "subdomain": {
                    "type": "string",
                    "description": "Tenant assistant subdomain identifier",
                    "example": "demo"
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Whether to stream responses via Server-Sent Events",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful chat response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    },
                    "sessionId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid payload"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  }
}
